# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
.env
tmp/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
*.db
*.sqlite3

# Node / Web
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# OS
.OSInstallerMessages
.Trash-*
